h1{
    color: red;
}
/* Estilos */
p{
    color: blue;
    font-size: 16pt;
}
#primera-noticia{
    color: azure;
    font-size: 12pt;
}
#segunda-noticia{
    color: darkmagenta;
}
.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}
/* Toma a todos con esa caracteristica */
* {
    color: red;

}
.autor, .fecha, .ubicacion, h1, #segunda-noticia {
    text-decoration: underline;
}
/* 
 */